altgraph==0.17.4
appdirs==1.4.4
atomicwrites==1.4.1
attrs==22.1.0
beautifulsoup4==4.12.2
behave==1.2.6
bs4==0.0.1
certifi==2023.11.17
chardet==4.0.0
charset-normalizer==2.0.12
colorama==0.4.5
commonmark==0.9.1
cssselect==1.1.0
dataclasses==0.8
execnet==1.9.0
fake-useragent==1.4.0
fasteners==0.17.3
filelock==3.4.1
future-breakpoint==2.0.0
idna==3.4
importlib-metadata==4.2.0
importlib-resources==5.4.0
iniconfig==1.1.1
lxml==5.1.0
msedge-selenium-tools==3.141.3
packaging==21.3
parameterized==0.8.1
parse==1.20.0
parse-type==0.6.2
pdbp==1.4.6
pefile==2023.2.7
platformdirs==2.4.0
pluggy==1.0.0
py==1.11.0
pyee==8.2.2
Pygments==2.14.0
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.0
pynose==1.4.8
pyotp==2.7.0
pyparsing==3.0.7
pyppeteer==0.2.6
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.1
pyquery==1.4.3
pyreadline3==3.4.1
pytest==7.0.1
pytest-forked==1.4.0
pytest-html==2.0.1
pytest-metadata==1.11.0
pytest-ordering==0.6
pytest-rerunfailures==10.3
pytest-xdist==2.5.0
pywin32-ctypes==0.2.2
requests==2.27.1
requests-html==0.10.0
rich==12.6.0
sbvirtualdisplay==1.2.0
selenium==3.141.0
seleniumbase==4.17.14
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
tabcompleter==1.2.1
tomli==1.2.3
tqdm==4.64.1
typing_extensions==4.1.1
urllib3==1.26.12
w3lib==2.0.1
websockets==9.1
zipp==3.6.0